*
{
    margin: 0;
    padding: 0;
}

.top
{
    background: #863a07 url("../images/desert.jpg");
    background-size: cover;
    height: 500px;
}

.top_background
{
    background: none;
}

.navigation
{
    display: flex;
    justify-content: space-between;
}

.top__navigation
{
    padding: 20px 270px 0 250px;
}

.navigation__logo
{
    font-family: 'Lora', serif;
    font-size: 26px;
    line-height: 1;
    text-decoration: none; 
    color: #FFFFFF;
}

.navigation__logo_color
{
    color: #2E2E2E;
}

.navigation__menu
{
    font-family: 'Oxygen', sans-serif;
    font-size: 12px;
    line-height: 1.67;
    letter-spacing: 0.6px;
}

.menu
{
    list-style: none;
    display: flex;
    flex-direction: row;
}

.menu__link
{
    color: #FFFFFF;
    text-decoration: none;
    text-transform: uppercase;
    padding: 0 20px 0 0;
}

.menu__link_color
{
    color: #2E2E2E;
}

.body__title
{
    font-family: 'Lora', serif;
    font-size: 50px;
    line-height: 1.02;
    font-weight: 400;
    text-align: center;
    letter-spacing: 2px;
    color: #FFFFFF;
    margin: 130px 0 0 0;
}

.body__title_color
{
    color:#2E2E2E;
}

.body__subtitle
{
    font-family: 'Oxygen', sans-serif;
    font-size: 17px;
    line-height: 1.18;
    text-align: center;
    color: rgba(255, 255, 255, 0.63);
    padding: 20px 0 0 0;
}

.body__subtitle_color
{
    color: rgba(46, 46, 46, 0.63);
}

.body__button
{
    display: block;
    background: #DD783F;
    max-width: 167px;
    border-radius: 3px;
    padding: 12px 0;
    font-family: 'Oxygen', sans-serif;
    font-size: 13px;
    line-height: 1.54;
    text-align: center;
    color: #FFFFFF;
}

.main
{
    background: #F7F7F7;
}

.main__panel
{
    background: #FFFFFF;
    font-family: 'Lora', serif;
    font-size: 14px;
    line-height: 1.43;
    display: flex;
    justify-content: center;
    padding: 20px 0;
}

.panel 
{
    list-style: none;
    display: flex;
    flex-direction: row;    
}

.panel__link
{
    color: #768088;
    text-decoration: none;
    padding: 0 90px 0 0;
}

.title
{
    font-family: 'Oxygen', sans-serif;
    font-size: 20px;
    line-height: 1.35;
    font-weight: 400;
    text-align: center;
    letter-spacing: 2px;
    color: #2E2E2E;
    text-decoration: underline;
    text-underline-offset: 16px;
    padding: 60px 0 40px;
}

.featured
{
    display: flex;
    justify-content: center;
    gap: 20px;
}

.featured__post
{
    position: relative;
    width: 460px;
    border-radius: 3px;
}

.post__info
{
    position: absolute;
    bottom: 15px;
    left: 20px;
    right: 20px;
}

.post__describing
{
    margin: 0 0 17px 0;
}

.post__title
{
    font-family: 'Lora', serif;
    font-weight: 400;
    font-size: 27px;
    line-height: 1.11;
    color: #FFFFFF;
    margin: 0 0 6px 0;
}

.post__subtitle
{
    font-family: 'Oxygen', sans-serif;
    font-size: 14px;
    line-height: 1.78;
    color: rgba(255, 255, 255, 0.7);
}

.post__card
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
    font-family: 'Oxygen', sans-serif;
    font-size: 12px;
    line-height: 2;
    color: rgba(255, 255, 255, 0.7);
}

.card__author
{
    display: flex;
    flex-direction: row;
}

.author__image
{
    border-radius: 60px;
    margin: 0 10px 0 0;
}

.post__note
{
    position: absolute;
    top: 20px;
    left: 20px;
    background: #DD783F;
    border-radius: 2px;
    padding: 6px 9px 7px;
    font-family: 'Oxygen';
    font-size: 12px;
    line-height: 1.08;
    color: #FFFFFF;
    text-transform: uppercase;
}

.most-recent 
{
    padding: 22px 400px 108px;
    flex-wrap: wrap;
    display: flex;
    /* gap: 24px; */
    justify-content: space-evenly;
    flex-basis: 160px;
}

.most-recent__post
{
    background: #FFFFFF;
    border-radius: 3px;
    width: 296px;
}

.post__info_small
{
    /*пересмотреть это решение, уверен не подходит*/
    position: inherit;
}

.post__describing_small
{
    padding: 14px 13px 0;
}

.post__title_small
{
    font-size: 16px;
    line-height: 1.31;
    color: #101315;
    margin: 0 0 6px 0;
}

.post__subtitle_small
{
    font-size: 13px;
    line-height: 1.46;
    color: #7A7A7A;
}

.post__image_small
{
    position: relative;
}

.post__card_small
{
    font-family: 'Oxygen', sans-serif;
    font-size: 12px;
    line-height: 2;
    color: #999999;
    background: #FCFCFC;
    
    padding: 12px 13px 10px;
}

.bottom
{
    background: url("../images/bottom.jpg"), #4D565D;
    background-size: cover;
}

.title_color
{
    font-size: 25px;
    line-height: 1.2;
    text-align: center;
    text-underline-offset: 17px;
    color: #EFEFEF;
    padding: 81px 0 38px;
}

.communication__form
{
    display: flex;
    justify-content: center;
    margin: 0 0 89px;

    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    line-height: 1.17;
}

.form__text
{
    width: 375px;
    padding: 18px 0 18px 35px;
    border: 0;
    color: #817F83;
    background: #FFFFFF;
    border-radius: 3px 0px 0px 3px;
}

.form__submit
{
    width: 125px;
    border: 0;
    color: #F8F8F8;
    background: rgba(255, 255, 255, 0.28);
    border-radius: 0px 3px 3px 0px;
}

.bottom__navigation
{
    background: rgba(35, 47, 56, 0.6);
    padding: 31px 250px 32px;
}

.menu__link_lower
{
    color: rgba(255, 255, 255, 0.6);
}

.main__image
{
    width: 100%;
}

.main_section
{
    padding: 140px 240px 135px;
}