.top
{

}

.top__header
{
    font-family: 'Lora';
    font-size: 26px;
    line-height: 1.0;
    color: #2E2E2E;
}

.nav__links
{
    font-family: 'Oxygen';
    font-size: 12px;
    line-height: 1.67;
    letter-spacing: 0.6px;
    text-decoration: none;    
    color: #2E2E2E;
}

.top__h1
{
    font-family: 'Lora';
    font-size: 50px;
    line-height: 1.02;
    text-align: center;
    letter-spacing: 2px;
    color: #2E2E2E;
}

.top__underh1
{
    font-family: 'Oxygen';
    font-size: 17px;
    line-height: 1.18;
    text-align: center;
    color: rgba(46, 46, 46, 0.63);
}

.top__shine
{
    object-fit: cover;
}

.main
{
    background: #F7F7F7;
    border-radius: 0px;
}

.main__text
{
  font-family: 'Oxygen';
  font-size: 24px;
  line-height: 1.46;
  color: #101315;
}

.bottom 
{
    background: rgba(35, 47, 56, 0.6);
    border-radius: 0px;
}

.bottom__header
{
  font-family: 'Lora';
  font-size: 26px;
  line-height: 1.0;
  color: #FFFFFF;
}

.nav__links_font
{
    font-size: 11px;
    line-height: 2.36;
    text-align: right;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 0.6);
}